.about{
    margin: 4rem 2rem 3.5rem;
    max-width: 100%;
}

.about-container{
    max-width: 100%;
    margin-inline: 2rem;
    height: 90%;
    background-color: var(--primary-green);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
}

.about-container .content{
    width: 30%;
    background-color: white;
    border-radius: 20px 20px 0 0;
    padding: 0.5rem;
    opacity: 0;
    overflow: hidden;
    will-change: transform;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.content{
    width: 30%;
    background-color: white;
    border-radius: 30px 30px 0 0;
    padding: 0.5rem;
}

.content p{
    font-size: 0.8rem;
    text-align: justify;
    word-spacing: -3px;
    padding: 1rem;
    color: var(--secondary-green200);
}

.content p:first-of-type{
    padding-top: 0.7rem;
}


.about-container .content:first-of-type{
    height: 50%;
}

.about-container .content:nth-of-type(2){
    height: 70%;
}

.about-container .content:last-of-type{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.about-container .content:last-of-type .img-wrapper:nth-child(2){
    background-color: var(--primary-red);
}

.about-container .content:last-of-type .img-wrapper:nth-child(3){
    background-color: var(--primary-green);
}

.mascot-container{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}

.mascot-container img{
    max-width: 150px;
    max-height: 150px;
}

.img-wrapper{
    width: 90%;
    height: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 1.5px rgba(0, 0, 0, 0.25);
}

.img-wrapper img{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    -o-object-fit: cover;
       object-fit: cover;
}

.content-md{
    display: none ;
}

.about-landing-section{
    margin-block-start: 7rem;
    display: flex;
    justify-content: center;
    height: 80%;
}

.about-landing {
    /* background-position:center; */
    background-size: cover;
    background-color:#f08282;
    height: 100%;
    width: 90%;
    margin-inline: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
}

.about-landing .box{
    background: transparent;
    backdrop-filter: blur(5px);
    height: -moz-fit-content;
    height: fit-content;
    width: 400px;
    border-radius: 30px;
    box-shadow: 0px 0px 3px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 1rem;
    padding: 1rem;
}

.box h2{
    border-radius: 15px;
    width: -moz-fit-content;
    width: fit-content;
    padding:1rem;
    /* color: aliceblue !important; */
    color: black !important;
    backdrop-filter: blur(5px) !important;
    font-size: 0.9rem;
    /* background: rgb(145, 79, 79); */
    background: rgb(248, 234, 234);
    width: 100%;
    text-align: center;
}


.unique-button {
    width: 180px;
    height: 40px;
    border-radius: 999px;
    text-align: center;
    font-weight: 600;
    margin: 20px 10px 20px 10px;
    border: none;
    font-size: 0.9rem;
    letter-spacing: 1.1;
    box-shadow: 0px 0px 5px 1.5px rgba(0, 0, 0, 0.25);
    background-color: var(--primary-red);
    color: aliceblue;
}

.unique-button:hover {
    cursor: pointer;
}


@media screen and (max-width: 1000px){
    .about{
        background-color: var(--primary-green);
        border-radius: 30px;
    }

    .about-container{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
        height: -moz-fit-content;
        height: fit-content;
        margin-inline: 2rem;
        gap: 0;
        border-radius: 0;
        background-color: white;
    }

    .about-container .content{
        width: 90%;
        height: 100%;
        border-radius: 0;
        gap:0;
        padding: 0 !important;
        overflow: visible;
    }

    .content{
        margin-block: 1rem;
    }

    .img-wrapper{
        width: 300px;
    }
    
    .content:last-of-type{
        flex-direction: row !important;
        flex-wrap:wrap;
    }

    .content:last-of-type h3{
        display: none ;
    }

    .content p{
        margin-block: 1rem;
        padding: 0;
    }

    .mascot-container {
        margin-block: 1rem;
    }
}

@media screen and (max-width: 500px){
    .about-landing .box{
        height: -moz-fit-content;
        height: fit-content;
        width: 280px;
    }
    .about-landing{
        border-radius: 30px !important;
    }
}
