@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/COMFORTAA-LIGHT.TTF") format("truetype");
    font-weight: light; /* Regular font */
    font-style: normal; /* Regular style */
}

@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/COMFORTAA-REGULAR.TTF") format("truetype");
    font-weight: normal; /* Regular font */
    font-style: normal; /* Regular style */
}

@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/COMFORTAA-MEDIUM.TTF") format("truetype");
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/COMFORTAA-SEMIBOLD.TTF") format("truetype");
    font-weight: bold; /* Regular font */
    font-style: normal; /* Regular style */
}

@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/COMFORTAA-BOLD.TTF") format("truetype");
    font-weight: bolder; /* Regular font */
    font-style: normal; /* Regular style */
}