.main-content{
    min-height: 500px;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    border-radius: 30px;
    box-shadow: 0px 0px 15px 0px rgb(207, 207, 207);
    padding: 30px;
    position: relative;
    font-size: 15px;
}

.controller-section{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    right: 0;
    width: 100%;
}

.controller-section button{
    padding: 10px;
    border-style: none;
    background-color: var(--primary-green);
    color: var(--color-text-white);
    border-radius: 20px;
    margin-left: 4px;
    transition: background-color 0.3s ease;
}

.controller-section button i{
    margin-right: 5px;
}

.controller-section button:hover{
    padding: 10px;
    border-style: none;
    background-color: var(--secondary-green200);
    color: var(--color-text-white);
    border-radius: 20px;
    margin-left: 4px;
}

.controller-section div select {
    border-radius: 20px;
    padding: 10px;
}

#search{
    width: 200px;
    padding: 10px;
    padding-inline: 20px;
    border-style: none;
    background-color:rgb(232, 232, 232);
    border-radius: 20px;
}

#preloader {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-top: 5px solid var(--primary-red); 
    animation: spin 1s linear infinite;
    border-radius: 50%;
    z-index: 9999;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
